/* TODO: Everything.
 		See "template.html" or "../design/HTML Schema.txt" to see all the things that need styling.

 		[What is currently present is only for demo purposes.]
*/

@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

body {
	background-color: white;
	color: #535d69;
	font-family: 'Oxygen', sans-serif;
	margin: 0;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: white; 
}
   
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 3px;
}

.module {
	max-width: 1400px;
	margin: 0 auto;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 40px 50px 50px 50px;
}

header h1 {
	margin-right: 30px;
}

header img {
	width: 150px;
}

section {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0px 50px 0 60px;
}

section nav {
	background-color: transparent;
	width: 320px;
	border-radius: 3px;
	margin-left: 50px;
}

section nav button {
	background: transparent;
	width: 100%;
	border: none;
	font-size: 16px;
	min-height: 60px;
	padding: 10px 30px;
	text-align: left;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

section nav button div.index {
	width: 25px;
	display: inline-block;
	text-align: left;
}

section nav button div.sectionHeader {
	width: calc(100% - 25px);
	display: inline-block;
}

section nav button.active {
	color: white;
	background: linear-gradient(90deg, #006D8F 0%, #3B788B 100%);
}

section nav button.navToggle {
	display: none;
}

section nav button:disabled {
	background: #e1e5ec;
	cursor: not-allowed;
	color: #32363f;
}

section nav button:nth-child(2) {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

section nav button:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

main {
	display: inline-block;
	width: 100%;
}

main section div.sectionButtons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	min-height: 120px;
	width: 100%;
}

main section div.sectionButtons button {
	transition-duration: .2s;
	-moz-transition-duration: .2s;
	background: transparent;
	border: none;
	border-radius: 10px;
	font-size: 16px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
	min-width: 150px;
	min-height: 50px;
	cursor: pointer;
	opacity: 1;
}

main section div.sectionButtons button:hover, :focus {
	transition-duration: .4s;
	-moz-transition-duration: .4s;
	opacity: .9;
}

main section div.sectionButtons button.check {
	color: white;
	background: linear-gradient(90deg, #007C27 0%, #207C00 100%);
}

main section div.sectionButtons button.primary {
	color: white;
	background: linear-gradient(90deg, #006D8F 0%, #3B788B 100%);
}

main section div.page {
	width: 100%;
	max-height: calc(100vh - 350px);
	min-height: 300px;
	display: inline-block;
	overflow-y: scroll;
	font-size: 16px;
}

main section div.content {
	width: calc(100% - 100px);
}

footer {
	padding: 20px;
	width: 100%;
	background: #32363f;
	color: white;
	font-size: 14px;
	text-align: center;
}

footer a {
	color: white;
	text-decoration: underline;
}

footer a:hover {
	color: white;
}

@media(max-width: 850px) {
	::-webkit-scrollbar {
		width: 5px;
	}

	.feedback {
		transform: rotate(-90deg);
		right: 40px !important;
		top: -30px !important;
		padding: 0 !important;
	}

	h1 {
		font-size: 24px;
	}
	
	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 20px;
	}

	h4 {
		font-size: 18px;
	}

	header {
		margin: 60px 20px 50px 20px;
	}

	header img {
		width: 100px;
	}

	section {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		margin: 0 20px;
	}

	section nav {
		max-width: 100%;
		margin-left: 0;
		margin-bottom: 50px;
	}

	section nav button {
		font-size: 16px;
	}

	section nav button.navToggle {
		display: inline-block;
		border-radius: 5px;
		margin-bottom: 10px;
		width: calc(100vw - 40px);
	}

	main section div.sectionButtons {
		min-height: 80px;
	}

	main section div.sectionButtons button {
		font-size: 16px;
	}

	main section div.page {
		max-height: 100vh;
		font-size: 16px;
		margin-bottom: 20px;
	}

	main section div.content {
		width: 100%;
	}
}












textarea {
   resize: none;
}



.table-bordered th,
.table-bordered td {
	border: 1px solid #999 !important;
}

.chart th, .chart td{
	border: 0px solid #999 !important;
}


.feedback{
position:fixed;
max-width: 38.46px;
max-height: 125px;
min-width: 1px;
min-height: 1px;
width:100%;
height: auto;
right:-5px;
top:40%;
padding:0px 5px 5px 0px;
z-index: 1;
}

.feedback img{width:100%;height:auto;}​






/* For bootstrap since relies on empty hrefs */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


#checkMark {
  position: relative;
}
#checkMark label{
  position: absolute;
	top: -20;
	left: -5;
}

[type="checkbox"]:checked + label:after {
  content: '✔';
  font-size: 35px;
  /*color: #09ad7e;*/
	color: forestgreen;
  transition: all .2s;
}

.popover {
    position:absolute;
		text-align: center;
    display:none;
    background-color:#fff;
    border: 1px solid #999;
    padding: 10px;
    width:auto;

}
.popover:after, .popover:before {
    right: 100%;
    border: solid transparent;
    content:" ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.popover:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 10px;
    top: 50%;
    margin-top: -10px;
}
.popover:before {
    border-color: rgba(201, 201, 201, 0);
    border-right-color: #c9c9c9;
    border-width: 10px;
    top: 50%;
    margin-top: -10px;
}

.header{
	position: absolute;
	top: 0;
	width: 100%;
	height: 40px;
	/*background-color: #464646;*/
}
.header-text{
	font-family: "Sabon";
	/*color: whitesmoke;*/
	text-align: left;
}
.header-image {
    width:auto; /* you can use % */
    height: 20px;
		float: right;
}
.page-header{
	border-bottom: 5px solid #337ab7;
}
.footer{
	margin: 0 auto !important;
	text-align: center !important;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: auto;
	max-height:120px;
	background-color: #464646;
}
.footer-text{
	color: whitesmoke;
	text-align: center;

}

.navbar{
	margin-bottom: 0px;
	background-color:silver;
}
.navbar-default {
    background-color: whitesmoke;
    border-color: whitesmoke;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 10px 10px;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.navbar-toggle .icon-bar {
		background-color: #337ab7 !important;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.nav-tabs li  a {
		color: #555;
    height: 50px;
}
.nav > li.disabled > a {
  color: #9999;
}
.nav-tabs > li.active > a{
  color: #337ab7;
}
.container{
	margin-top: 25px;
	margin-bottom: 25px;
}

.jumbotron{
    background-color: white;
		padding: 5px;
		box-shadow: 0 8px 16px -6px black;
}
.well{

}

.nav-tabs{
	margin-bottom: 0px;
}
.borderless td, .borderless th {
    border: none !important;
}

.si-error{
	margin-top: 25%;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: pink;
	border: 1px solid red;
}


.si-question-correct .well{
	background-color: lightgreen;
}

.si-question-incorrect .well{
	background-color: lightpink;
}
/*
.si-checkbox-label-correct::before {
	color: forestgreen;
	content: "V ";
	text-decoration: none;
}*/

.si-checkbox-label-incorrect::before {
	color: maroon;
	content: "X ";
}

.si-checklist-correct .well{
	background-color: lightgreen;
}

.si-checklist-incorrect .well{
	background-color: lightpink;
}

.si-checklist-active {
	font-size: 1.6em;
}

.si-code-clicked {
	font-weight: bold;
	font-style: italic;
}

.si-code-vulnerability {
	background-color: yellow;
}
