/* TODO: Everything.
 		See "template.html" or "../design/HTML Schema.txt" to see all the things that need styling.

 		[What is currently present is only for demo purposes.]
*/


body {
	background-color: whitesmoke;
}

/* For bootstrap since relies on empty hrefs */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

[type="checkbox"]:checked + label:after {
  content: '✔';
  font-size: 30px;
  color: #09ad7e;
  transition: all .2s;
}

.navbar{
	margin-bottom: 0px;
	background-color:silver;
}

.nav-tabs li  a {
		color: #464646;
    height: 50px;

}

.container{
	margin-top: 25px;
	margin-bottom: 25px;
}

.jumbotron{
    background-color: white;
		padding: 5px;
		box-shadow: 0 8px 16px -6px black;
}
.page-header{
	border-bottom: 5px solid #337ab7;
}
.well{

}

.nav-tabs{
	margin-bottom: 0px;
}
.borderless td, .borderless th {
    border: none !important;
}



/*
.si-workflow {
	border: 2px solid black;
}

.si-question {
	width: 500px;
	border: 2px solid black;
}
*/


.si-question-correct .well{
	background-color: lightgreen;
}

.si-question-incorrect .well{
	background-color: lightpink;
}

.si-checkbox-label-correct::before {
	color: forestgreen;
	content: "V ";
	text-decoration: none;
}

.si-checkbox-label-incorrect::before {
	color: maroon;
	content: "X ";
}
/*
.si-checklist {
	border: 2px solid black;
}
*/
.si-checklist-correct .well{
	background-color: lightgreen;
}

.si-checklist-incorrect .well{
	background-color: lightpink;
}

.si-checklist-active {
	font-size: 1.6em;
}

.si-code-clicked {
	font-weight: bold;
	font-style: italic;
}

.si-code-vulnerability {
	background-color: yellow;
}
