<div ng-app="modApp" ng-controller="modCtrl">
	<!--<header class = "header">
		<div class = "container">
			<h1 class = "header-text">
				Security Injections 3.0
			</h1>
		</div>
	</header>-->
	<div class = "container">
		<div ng-if="contentError">
			<p class="si-error">There was a problem getting content.</p>
			<button ng-click="loadContent()">Try Again</button>
		</div>

	<div ng-if="!contentError">
		<div class ="page-header">
		<h1>{{ module.name }} - {{ module.variant }}</h1>
	</div>
		<!-- workflow -->
			<div class = "container-fluid">
        <div class="container-fluid">
					<ul class="nav nav-tabs nav-justified">
								<li ng-repeat="section in module.sections" ng-if="$index <= sectionscompleted"  ng-class="{'active': $index==currentsectionIndex}" ng-click="gotoSection($index); "><a>{{section.header}}</a></li>
								<li class = "disabled" ng-repeat="section in module.sections" ng-if="$index > sectionscompleted" ><a>{{section.header}}</a></li>
					</ul>
				</div>
			</div>


		<!-- section content -->
		<div ng-if="currentsectionIndex < module.sections.length-1" class="si-content">
			<div class = "jumbotron">
			<h2 ng-bind-html="currentsection.header"></h2>
			<div ng-repeat="unit in currentsection.units" ng-switch="unit.type">
				<div class = "row">
					<h3 ng-switch-when="subheader" ng-bind-html="unit.text"></h3>
					<p ng-switch-when="paragraph" ng-bind-html="unit.text"></p>
					<div ng-switch-when="list" class="si-list">
						<ol ng-if="unit.ordered"><li ng-repeat="text in unit.items" ng-bind-html="text"></li></ol>
						<ul ng-if="!unit.ordered"><li ng-repeat="text in unit.items" ng-bind-html="text"></li></ul>
					</div>
				<pre ng-switch-when="codeblock">{{ unit.code }}</pre>
				<div class="popover radiopop">
					<form>
				    <input type="radio" name= "popOpt" value="Yes"/>Yes
						<input type="radio" name = "popOpt" value ="No"/>No
				    <input type="button" name = "popSave" class="btn-md" value="Save"/>
					</form>
				</div>
				<div class="popover rangepop">
				    <form>
							<input type = "textarea" style = "width: 30px"/>
							<select name = "popSelect">
								<option value = "<"/>&lt;
								<option value = "<="/>&lt;=
								<option value = "="/>=
								<option value = ">="/>&gt;=
								<option value = ">"/>&gt;
							</select>
							<input type = "textarea" style = "width: 30px"/>
							<select name = "popSelect">
								<option value = "<"/>&lt;
								<option value = "<="/>&lt;=
								<option value = "="/>=
								<option value = ">="/>&gt;=
								<option value = ">"/>&gt;
							</select>
							<input type = "textarea" style = "width: 30px"/>
				    	<input type="button" class="btn-md" value="Save"/>
						</form>
				</div>
				<div ng-switch-when="image" class="col-md-12">
						<img src="{{ unit.src }}" alt="{{ unit.alt }}" style="width:{{unit.width}}px; height:{{unit.height}}px; float:{{unit.float}};" class = "img-responsive">
				</div>
				<div ng-switch-when="video" class= "embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" ng-src="{{trustSrc(unit.url)}}"></iframe>
				</div>
				<small ng-switch-when="attribution" ng-bind-html="unit.copyright+' ('+unit.date+')'"></small>
				<table ng-switch-when="table" class="table">
					<tr>
						<th ng-repeat = "items in unit.headers" ng-bind-html ="items"></th>
					</tr>
					<tr ng-repeat = "items in unit.cells">
						<td ng-bind-html = "items.first"></td>
						<td ng-bind-html = "items.second"></td>
					</tr>
				</table>
				<div ng-switch-when="question" class="si-question" id="{{ unit.id }}">
					<div class="well">
					<h5 ng-bind-html="unit.prompt"></h5>
					<div ng-switch="unit.mode">
						<div ng-switch-when="radio" class="si-radio-choice" ng-repeat="choice in unit.choices">
							<label>
								<input type="radio" ng-model="unit.value"  value="{{ choice.id }}" name="{{ unit.id }}" id="{{ unit.id+'-'+choice.id }}">
								<span ng-bind-html="choice.text" ng-checked="unit.checked" id="{{ unit.id+'-'+choice.id }}-label"></span>
								</label>
							</div>
						<div ng-switch-when="checkbox" class="si-checkbox-choice" ng-repeat="choice in unit.choices">
							<label>
								<input type="checkbox" class="si-checkbox" ng-model="choice.value" name="{{ unit.id }}" id="{{ unit.id+'-'+choice.id }}">
								<span ng-bind-html="choice.text" id="{{ unit.id+'-'+choice.id }}-label"></span>
								</label>
							</div>
						<textarea class = "form-control" rows = "5" ng-switch-when="textarea" ng-model="unit.value"></textarea>
						<p ng-switch-default class="si-error">Mode invalid</p>
						</div>
					</div>

				</div>
				<div ng-switch-when="checklist" class="si-checklist" id="{{ unit.id }}">
					<pre class= "col-md-7" ng-if="unit.code" class="si-checklist-code" ng-bind-html="unit.code"></pre>
					<div class ="col-md-5">
						<div class="well">
						<table class="table borderless" ng-repeat="group in unit.list" id="{{ unit.id+'-'+group.id }}">
							<tr><th colspan="2" ng-bind-html="group.header"></th></tr>
							<tr ng-repeat="item in group.items">
								<td ng-if="item.js" class="si-checklist-box-cell">
									<input type="checkbox" checked ng-model="item.value" name="{{ unit.id+'-'+group.id }}"
											class="si-checkbox" id="{{ unit.id+'-'+group.id+'-'+item.id }}"
											disabled>
									</td>
								<td ng-if="!item.js" class="si-checklist-box-cell">
									<input type="checkbox" ng-model="item.value" name="{{ unit.id+'-'+group.id }}"
											class="si-checkbox" id="{{ unit.id+'-'+group.id+'-'+item.id }}">
									</td>
								<td class="si-checklist-label-cell">
									<span id="{{ unit.id+'-'+group.id+'-'+item.id }}-label" ng-bind-html="item.text"></span>
									</td>
								</tr>
							</table>
						</div>
					</div>
						<script ng-if="unit.javascript" ng-bind="unit.javascript"></script>
				</div>
						<p ng-switch-default class="si-error">Type invalid</p>
					</div>
				</div>
			</div>


			<!-- buttons -->
			<button class = "btn btn-primary btn-md" id="btn-check-answers" ng-click="checkAnswers()">Check Answers <span class="glyphicon glyphicon-ok"></span></button>
			<button class = "btn btn-success btn-md" ng-if="currentsectionIndex < sectionscompleted" ng-click="gotoSection(currentsectionIndex+1)">Next Section <span class="glyphicon glyphicon-chevron-right"></span></button>
			<button class = "btn btn-default btn-md" ng-if="currentsectionIndex >=  sectionscompleted" disabled>Next Section <span class="glyphicon glyphicon-ban-circle"></span></button>
			</div>
		</div>

	<div ng-if="currentsectionIndex == module.sections.length-1" class="si-finished">
		<div class ="jumbotron">
			<div class = "row">
			<h2 ng-bind-html="currentsection.header"></h2>
				<div class = "col-md-6">
					<div class = "well">
						<div class="si-certificate-form">
							<h5>Congratulations! You have completed the {{ module.variant }} {{ module.name }} module!</h5>
							<p>Complete this form to generate your certificate</p>
							<form ng-submit="generateCertificate()">
							<div class="input-group">
				  			<span class="input-group-addon">Full Name</span>
				  			<input ng-model="form.name" required type="text" class="form-control">
							</div>
							<br>
							<div class="input-group">
				  			<span class="input-group-addon">Email Address</span>
				  			<input ng-model="form.email" required type="email" class="form-control">
							</div>
							<br>
							<div class="input-group">
				  			<span class="input-group-addon">Instructor</span>
				  			<input ng-model="form.instructor" required type="text" class="form-control">
							</div>
							<br>
							<div class="input-group">
			  				<span class="input-group-addon">Institution</span>
			  				<input ng-model="form.institution" required type="text" class="form-control">
							</div>
							<br>
							<input class="btn btn-success btn-lg" type="submit" value="Generate Certificate">
							</form>
						</div>
					</div>
				</div>
					<div class = "col-md-6">
						<div id="si-certificate-pane" style="display:none">
								<iframe width="500" height="348" ng-src="{{detailFrame}}"></iframe>
								<a class = "btn btn-info btn-md" id="si-certificate-link" download="certificate.pdf">Download <span class="glyphicon glyphicon-download-alt"></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<footer class = "footer">
		<div class = "container">
			<div class = "col-md-1">
					<img src="http://cis1.towson.edu/~cyber4all/wp-content/uploads/2017/07/towsonu-logo.png" class = "img-responsive">
			</div>
			<div class = "col-md-10">
					<p class = "footer-text">
						The Security Injections@Towson, SPLASH@Towson, and Cyber4All projects are supported by the National Science Foundation
						under grants NSF DUE-1241738,  NSF DUE -0817267, NSF DGE-1516113, NSF DGE-1516113, NSF DGE-1241649,
						the GenCyber program, and the Intel Corporation.
						<br>
						<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
					</p>
			</div>
			<div class = "col-md-1">
					<img src="http://cis1.towson.edu/~cyber4all/wp-content/uploads/2017/07/nsf_logo_transparent.png" class = "img-responsive">
			</div>
		</div>
	</footer>
</div>
